@CHARSET "ISO-8859-1";

*{
	margin: 0;
	padding: 0;
}

body{
	margin: 0;
	padding: 0;
	font-family: Helvetica, Arial, sans-serif;
	background-image: url('../img/bg0.png');
	background-repeat: no-repeat;
	background-size: 100%;
	background-color: #000000;
}

header{
	margin: 0;
	padding: 0;
	min-width: 1450px;
	width: 100%;
	height: auto;
	position: fixed;
	z-index: 990;
	background: url('../img/header-overlay.png') 50% 100% repeat-x;
	background-color: transparent;
	font-size: 18px;
	color: #CCCCCC;
}

/*Logo do cabeçalho*/
#logo{
	float: left;
	position: relative;
	top: 3px;
	margin-left: 5%; 
}

/*Menu do cabeçalho*/
.menu{
  list-style-type: none;
  float: left;
  margin-left: 2%;
}

.menu li#item1{
	background: none;
}

	.menu li{
		position: relative;
		float: left;
		background-image: url('../img/divider.png');
		background-repeat: repeat-y;
	}

		.menu li a{
		  color: #FFF;
		  text-decoration: none;
		  font-weight: bold;
		  padding: 6px 15px;
		  margin: 0px 10px;
		  display: block;
		  text-shadow: -1px -1px 1px rgba(0,0,0,0.4);
		}

		.menu li a:hover{
		  background: -moz-linear-gradient(top, #000 0%, #2d2d2d 50%, #000 51%, #2D6FBE 100%);
		  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#000), color-stop(50%,#2d2d2d), color-stop(51%,#2d2d2d), color-stop(100%,#000));
		  opacity: 0.8;
		  z-index: 1;
		  border-radius: 5px;
		  text-shadow:0px 0px 5px #fff;
		}

		.menu li ul{
		  position: absolute;
		  top: 34px;
		  left: -5px;
		  display: none;
		  padding: 0px;
		}

			.menu li:hover ul, .menu li.over ul{
			  display: block;
			}

			.menu li ul li{
				font-size: 13px;
			  	display: block;
			  	padding: 1px 0px;
			  	margin: 0px 15px;
			  	width: 250px;
				background: url('../img/header-overlay.png') 50% 100% repeat-x;
				background-color: transparent;
				border-radius: 5px;
			}

/*Botão de log with facebook*/
#logWith{
	float: left;
	position: relative;
	top: 5px;
}

/*Botões de redes sociais*/
#redesSociais{
	float: left;
	margin-left: 5%;
}


/*Conteúdo completo central*/
#tudo{
	margin-left: auto;
	margin-right: auto;
	width: 65%;
	position: relative;
	top: 42px;
	text-align: center;
}

/*Banner do home*/
#banner{
	z-index: 3;
}

/*Menu superior abaixo do banner do home*/
.menu_sup{
	margin: 0;
	padding: 0;
	position: relative;
	width: 100%;
	height: auto;
	background-color: #2d2d2d;
	text-align: left;
	list-style-type: none;
	float: left;
	border: 1px solid #000;
}

	.menu_sup li{
		position: relative;
		float: left;
	}

		.menu_sup li a{
			color: #FFF;
			text-decoration: none;
			padding: 5px 37px;
			display: block;
		}

		.menu_sup li a:hover{
			background: #2d2d2d;
			color: #FFF;
			text-shadow: 0 0 5px #fff;
		}

		.menu_sup li ul{
			position: absolute;
			background-color: #2d2d2d;
			display: none;
			float: left;
			list-style-type: none;
		}

			.menu_sup li:hover ul, .menu_sup li.over ul{
			  	display: block;
			  	z-index: 10;
			}

			.menu_sup li ul li{
				font-size: 13px;
				background-color: #2d2d2d;
			  	display: block;
			  	width: 150px;
			  	text-align: left;
			  	border-left: 15px solid #FFF;
			  	border-bottom: 2px solid #FFF;
			  	padding: 0px 5px; !important
			}

/*Menu lateral*/
#menu_lateral{
	margin-top: 5%;
}

/*Lista do menu lateral*/
.menu_lat{
	margin: 0;
	padding: 0;
	float: left;
	position: relative;
	text-align: left;
	list-style-type: none;
	background-color: #2d2d2d;
	width: 23%;
	border: 1px solid #000;
}

	.menu_lat li{
		position: relative;
	}

	.menu_lat li a{
		color: #FFF;
		text-decoration: none;
		padding: 5px 10px;
		display: block;
	}

	.menu_lat li a:hover{
		background: #2d2d2d;
		color: #FFF;
		text-shadow: 0 0 5px #fff;
	}

		.menu_lat li {
			font-size: 14px;
		  	display: block;
		  	text-align: left;
		  	border-bottom: 1px solid #FFF;
			}

/*Conteúdo central principal*/
#centro{
	margin: 0;
	padding: 0;
	position: relative;
	float: left;
	width: 75%;
	height: auto;
	margin-left: 1.54%;
	background-color: #2d2d2d;
	border: 1px solid #000;
}

/*Carousel de notícias*/
.html_carousel {
    padding: 10px 0 15px 15px;
}

	.html_carousel div.slide {
	    position: relative;
	}

		.html_carousel div.slide div {
		    background-color: rgba(0, 0, 0, 0.6);
		    width: 630px;
		    display: none;
		    position: absolute;
		    bottom: 0;
		}

		.html_carousel div.slide h4 {
		    font-size: 35px;
		    padding: 30px 0 0 90px;
		}

		.html_carousel div.slide p {
		    font-size: 16px;
		    padding: 0 0 30px 100px;
		}

			.html_carousel div.slide h4, .html_carousel div.slide p {
			    color: #fff;
			    margin: 0;
			}

.clearfix {
    float: none;
    clear: both;
}

/*Campo de notícias da parte inferior ao carousel*/
#campo_noticias{
	margin: 0px;
	border: 1px solid #000;
}

.noticias{
	border-bottom: 1px solid #000;
	width: 650px;
	height: 120px;
	float: left;
	position: relative;
	margin: 0;
	padding: 0px 4px;
}

	.noticias a{
		color: #fff;
	}

	.noticias a:hover{
		text-shadow: 0 0 5px #fff;
	}

		.noticias a img{
			border: 1px solid #000;
			margin: 8px 5px;
			padding: 0;
			float: left;
			position: relative;
		}

		.noticias a img:hover{
			border: 1px solid #fff;
		}

		.noticias a h2{
			width: 100px;
			height: auto;
			float: left;
			position: relative;
			margin: 5px 0px;
			padding: 0;
		}

	.noticias p{
		float: left;
		position: absolute;
		left: 165px;
		top: 40px;
	}

#readmore{
	text-decoration: none;
	position: absolute;
	top: 90px;
	left: 165px;
}

#data{
	position: absolute;
	top: 90px;
	left: 500px;
	font-size: 11px;
}

/*Rodapé*/
footer{
	margin: 0;
	padding: 0;
	font-size: 11px;
	position: relative;
	float: left;
	width: 100%;
	height: auto;
	text-align: center;
	background-color: #2d2d2d;
	border: 1px solid #000;
	margin-top: 4%;
}